*{
    padding: 0;
    margin: 0;
    box-sizing: border_box;
}

.all_component {
    background-color: #282c34;
    color: white;
}

.google_btn {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 28px;
}

.google_btn img {
    width: 60px;
    height: 50px;
}

.login_form p {
    color: rgb(128, 123, 123);
    font-size: 12px;
}

.login_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    padding: 15px;
    margin: 10px;
    width: 50%;
    box-sizing: border_box;
    border-radius: 10px;
    box-shadow: lightslategrey 5px 5px 10px;
}