*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.google-btn {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 28px;
}

.google-btn img {
    width: 60px;
    height: 50px;
}

.login-form p {
    color: rgb(128, 123, 123);
    font-size: 12px;
}

.login-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 15px;
    margin: 10px;
    width: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: lightslategrey 5px 5px 10px;
}