*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all_component {
    padding-top: 100px;
    background-color: #282c34;
    color: white;
}

button {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
}

img{
    height: 50px;
    width: 55px;
    margin: 6px;
}

.login_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    text-align: center;
    background-color: #212529;
    padding: 25px;
    margin: 80px 10px;
    width: 45%;
    border-radius: 15px;
    box-shadow: rgb(92, 101, 109) 5px 5px 30px -5px;
}

.login_form input{
    color: lightgray;
    background-color: transparent;
    /* border: none; */
    /* border-bottom: 1px solid grey; */
}

.login_form p {
    color: rgb(128, 123, 123);
    font-size: 15px;
}

