* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all_component {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
}

.donor_form {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center; */
}

.donor_form2{
    border: slategrey solid 1px;
    border-radius: 10px;
    box-shadow: slategrey 2px 2px 10px;
}

