* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    padding-top: 150px;
}

.all_component {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
}

.donor_form {
    padding-top: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center; */
}

.donor_form2 {
    width: 40%;
    padding: 10px 20px;
    background-color: #212529;
    border: slategrey solid 1px;
    border-radius: 10px;
    box-shadow: darkslategrey 2px 2px 30px -5px;
}

.donor_form2 input{
    border: slategrey solid 1px;
    background-color: transparent;
    color: grey;
}
