.all_component {
    background-color: #282c34;
    min-height: 100vh;
}

.life_saver{
    border: maroon solid 1px;
    border-radius: 30px;
    color: maroon;
    width: 300px;
    /* box-shadow: maroon 4px 5px 10px; */
    padding: 10px 55px;
    margin: 30px;
    font-size: larger;
    font-weight: bold;
}

.life_saver:hover{
    width: 350px;
    background-color: maroon;
    color: whitesmoke;
    box-shadow: rgb(51, 9, 9) 7px 7px 15px;
}